<div class="container">
  <app-logo></app-logo>
  <div class="container-text">
    <h1>Crie sua Conta</h1>
    <h2>Preencha os campos abaixo para iniciar</h2>
  </div>

  <div class="container-content">
    <div class="label-input">
      <label for="name">Nome completo</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Rafael Silva"/>
    </div>

    <div class="label-input">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="rafael.silva@capgemini.com"/>
    </div>

    <div class="half-input">
      <div class="label-input">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" [(ngModel)]="cpf" name="cpf" placeholder="000.000.000-00"/>
      </div>

      <div class="label-input">
        <label for="phone">Telefone</label>
        <input type="text" id="phone" [(ngModel)]="phone" name="phone" placeholder="(00) 00000-0000">
      </div>
    </div>

    <div class="half-input">
      <div class="label-input">
        <label for="department">Departamento</label>
        <input type="text" id="department" [(ngModel)]="department" name="department" />
      </div>

      <div class="label-input">
        <label for="position">Cargo</label>
        <input type="text" id="position" [(ngModel)]="position" name="position" />
      </div>
    </div>

    <div class="label-input">
      <label for="password">Senha</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="password" placeholder="Mínimo 8 caracteres"/>
    </div>

    <div class="label-input">
      <label for="confirmPassword">Confirmação de senha</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="password" placeholder="Mínimo 8 caracteres"/>
    </div>

    <p id="p-select-perfil">Selecione seu Perfil</p>
    <form class="form-radio">
      <div class="input-radio">
        <input type="radio" id="ADMIN" name="roleFlag" value="ADMIN" [(ngModel)]="roleFlag" />
        <label for="ADMIN">Administrador</label>
      </div>

      <div class="input-radio">
        <input type="radio" id="USER" name="roleFlag" value="USER" [(ngModel)]="roleFlag" />
        <label for="USER">Usuário</label>
      </div>
    </form>

    <button type="button" (click)="criarConta()">Criar Conta</button>

    <p id="entrar">Já possui uma conta? <a href="/login">Entrar</a></p>
  </div>
</div>
