<table class="table">
  <thead class="line">
    <tr>
        <th class="head">Recurso</th>
        <th class="head">Tipo de Ocorrência</th>
        <th class="head">Severidade</th>
        <th class="head">Data do reporte</th>
        <th class="head">Status</th>
        <th class="head">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td>teste</td>
        <td>test</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td><a href="">Ver Detalhes</a></td>
    </tr>
  </tbody>
</table>
