<main class="container" [formGroup]="form">
  <h2>Reportar incidente</h2>
  <h3 class="subtitle">
    Preencha o formulário para comunicar um incidente no recurso.
  </h3>

  <form class="container-content">
    <div class="label-input">
      <label for="name">Nome do recurso</label>
      <input id="name" type="text" formControlName="name" />
    </div>

    <div class="label-input">
      <label for="description">Descreva o incidente</label>
      <textarea
        id="description"
        rows="4"
        formControlName="description"
        placeholder="Descreva o que aconteceu, quando ocorreu e qualquer detalhe importante"
      ></textarea>
    </div>

      <div class="label-input">
        <label for="dateIncident">Data do incidente</label>
        <input id="dateIncident" type="date" formControlName="dateIncident" />
      </div>

      <div class="label-input">
        <span>Gravidade</span>

        <div class="form-radio">
          <label class="input-radio">
            <input type="radio" formControlName="severity" value="LOW" />
            <span>Baixa</span>
          </label>

          <label class="input-radio">
            <input type="radio" formControlName="severity" value="MEDIUM" />
            <span>Média</span>
          </label>

          <label class="input-radio">
            <input type="radio" formControlName="severity" value="HIGH" />
            <span>Alta</span>
          </label>
        </div>
      </div>
  </form>

  <div class="buttons">

    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="success" type="button" (click)="submit()">
      Reportar incidente
    </button>
  </div>
</main>
