@use '../../../../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 70vw;
  border-radius: 25px;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-input label,
.label-input span {
  font-size: 1.2rem;
}

#name{
  background-color: vars.$background-color;
}

input,
textarea {
  background-color: #fff;
  border: 1px solid #{vars.$stroke};
  border-radius: 8px;
  font-size: 1rem;
  padding: 5px;
}

input {
  height: 2.2rem;
}

textarea {
  resize: none;
}


.form-radio {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  margin-top: 8px;
}

.input-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid #{vars.$stroke};
  border-radius: 5px;
  cursor: pointer;

  input {
    display: none;
  }
}

.input-radio span {
  cursor: pointer;
}

.input-radio:hover {
  border-color: vars.$text-color;
  background-color: vars.$white;
}

.input-radio:has(input[type='radio']:checked) {
  background-color: vars.$success-light;
  border-color: vars.$success-dark;
  border: 1px solid #{vars.$success-light};
}

.buttons {
  width: 100%;
  display: flex;
  gap: 10px;
}

button {
  color: vars.$success-dark;
  border-radius: 10px;
  width: 100%;
  padding: 4px 0;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 20px;
  border: 2px solid transparent;
  cursor: pointer;
}

button:hover {
  background-color: vars.$white;
}

.cancel {
  background-color: #f0f0f0;
  border-color: #{vars.$stroke};
}

.success {
  background-color: vars.$success-light;
  border-color: #{vars.$success-light};
}
