/// Backgrounds & base
$background-color: #f5f5f5;
$text-color: #333333;
$white: #fbfbfb;
$stroke: #b5b5b5;

/// Cards / surfaces
$card-bg: $white;

/// Erro
$error-dark: rgba(255, 0, 0, 0.75);
$error-light: rgba(255, 0, 0, 0.15);

/// Aviso (warning)
$warning-dark: #BC6C25;
$warning-light: rgba(255, 208, 0, 0.25);

/// Sucesso
$success-dark: #283618;
$success-light: rgba(91, 205, 56, 0.25);
