/// Backgrounds & base
$background-color: #f5f5f5;
$text-color: #333333;
$white: #fbfbfb;
$stroke: #b5b5b5;

/// Cards 
$card-bg: $white;

/// Erro
$error-dark: rgba(255, 0, 0, 0.75);
$error-light: rgba(255, 0, 0, 0.15);

/// Aviso (warning)
$warning-dark: #BC6C25;
$warning-light: rgba(255, 208, 0, 0.25);

/// Sucesso
$success-dark: #283618;
$success-light: rgba(91, 205, 56, 0.25);

//Blue 
$blue-dark: #0065A1;
$blue-light: rgba(0, 102, 161, 0.25);

//Purple
$purple-dark: rgba(111, 0, 255, 0.75);
$purple-lighr: rgba(111, 0, 255, 0.15);

