<article class="card">
  <div class="top">
    <div class="icon-box">
      <mat-icon class="material-symbols-rounded">event_available</mat-icon>
    </div>

    <div class="info">
      <h3 class="title">Câmera 2</h3>
      <p class="date">8 de Outubro, 2025</p>
    </div>
  </div>

  <div class="details">
    <div class="time">
      <mat-icon class="material-symbols-rounded">schedule</mat-icon>
      <span>9:00 AM - 10:00 AM</span>
    </div>

    <span class="status status-active">Ativa</span>
  </div>
</article>