<main>
  <section class="section-cards">
    <button type="button" class="back" (click)="goBack()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <div class="background div-details">
      <span class="div-details-status">
      {{resource.status}}
      </span>

      <h1>{{ resource.name }}</h1>
      <h2>{{ resource.category }}</h2>
      <p>{{ resource.description }}</p>

      <button
        type="button"
        class="button-report"
        (click)="reportIncident()"
      >
        Reportar Incidente
      </button>
    </div>

    <div class="background">
      <h3>Manutenção preventiva</h3>
    </div>

    <div class="background">
      <h3>Recursos Alternativos</h3>
    </div>
  </section>

  <section class="background section-form">
    <h2>Solicitar Recurso</h2>
    <form [formGroup]="requestForm" (ngSubmit)="submitRequest()">
      <div class="div-form">
        <label for="startDate">Data de Início</label>
        <input type="date" id="startDate" formControlName="startDate" />
      </div>

      <div class="div-form">
        <label for="endDate">Data Final</label>
        <input type="date" id="endDate" formControlName="endDate" />
      </div>

      <div class="div-form">
        <label for="startTime">Horário de Início</label>
        <input type="time" id="startTime" formControlName="startTime" />
      </div>

      <div class="div-form">
        <label for="endTime">Horário Final</label>
        <input type="time" id="endTime" formControlName="endTime" />
      </div>

      <div class="div-form">
        <label for="justification">Justificativa</label>
        <textarea id="justification" rows="5" formControlName="justification"></textarea>
      </div>

      <button type="submit" class="request">Enviar Solicitação</button>
    </form>

  </section>
</main>
