@use '../../../../styles/variables' as vars;

.container {
    background-color: vars.$warning-light;
    border: 1px solid #{vars.$warning-dark};
    border-radius: 15px;
    padding: 20px 80px 20px 20px;
}

h4,
p {
    margin: 0;
    padding: 0;
}

h4 {
    color: vars.$warning-dark;
    font-size: 1.7rem;
}

p {
    color: vars.$warning-dark;
    font-size: 1rem;
}
