<main>
    <h2>Minhas reservas</h2>
    <section>
        <h5>Ativas</h5>
        <div class="cards-list">
            <app-cards-reservations-active></app-cards-reservations-active>
        </div>
    </section>

    <section>
        <h5>Pendentes</h5>
        <div class="cards-list">
            <app-cards-reservations-pending></app-cards-reservations-pending>
        </div>
    </section>

    <section>
        <h5>Concluídas</h5>
        <div class="cards-list">
            <app-cards-reservations-finished></app-cards-reservations-finished>
        </div>
    </section>
</main>