@use '../../../../styles/variables' as vars;

.user-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; 
}

.user-perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
   
}

.user-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.dropdown {
  position: absolute;
  top: 100%; 
  background-color: vars.$white;
  border: 1px solid #{vars.$stroke};
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.2s ease-in-out;
  width: 100%;

  button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
