@use '../../../../styles/variables' as vars;


.user-menu {
  position: relative;
}

.user-perfil:hover{
  cursor: pointer;
}


.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  background-color: vars.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.25s ease-out;
}

.div-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  background-color: vars.$white;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 50px 10px 10px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #f0f0f0;
}

.close {
  width: auto;
  align-self: flex-end;
  cursor: pointer;
  padding: 0;
  margin-bottom: 20px;
}

.close:hover {
  cursor: pointer;
  background-color: vars.$white;
}

.div-logout{
  display: flex;
  align-items: center;
  gap: 20px;
}


.name, .username{
  padding: 0;
  margin: 0;
}

.name{
  font-weight: bold;
  font-size: 1.5rem;
}

.username{
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.logout{
  margin-top: 20px;
  background-color: #f0f0f0;
}

.logout:hover{
  background-color: vars.$error-light;
}




@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
