<main class="container">
    <app-menu [nameLabel]="name" [usernameLabel]="username"></app-menu>
    <h1>Olá, {{name}} !</h1>
    <h2>Bem-vindo de volta, organize suas reservas aqui</h2>

    <section class="graphic"></section>
    <div class="div-cards">
        <section class="section-cards-img">
            <h3>Recursos Populares</h3>
            <div class="div-card-img">
            <app-card-img></app-card-img>
            <app-card-img></app-card-img>
            </div>
        </section>

        <section class="section-cards-next">
            <h3>Próximas Reservas</h3>
            <app-card-next-reservations></app-card-next-reservations>
            <app-card-next-reservations></app-card-next-reservations>
        </section>
    </div>
    <section>
        <h3>Reservas Pendentes</h3>
        <div class="div-card-pending">
            <app-card-pending-reservations></app-card-pending-reservations>
            <app-card-pending-reservations></app-card-pending-reservations>
            <app-card-pending-reservations></app-card-pending-reservations> 
        </div> 
    </section>
</main>