<div class="incident-card">
  <div class="badges">
    <span class="badge status" [ngClass]="incident.status.toLowerCase()">{{incident.status}}</span>
    <span class="badge severity" [ngClass]="incident.severity.toLowerCase()">Severidade {{ incident.severity }}</span>
  </div>

  <h3 class="title">{{ incident.name }}</h3>
  <p class="description">{{ incident.description }}</p>
  <p class="date">Reportado em: {{incident.dateIncident }}</p>
  <a href="#" class="details-link">Ver Detalhes</a>
</div>
