<div class = "history-header">
<h1>Histórico de Reservas</h1>
<p>Revisar e gerenciar solicitações de reserva de recursos recebidas</p>
</div>

<div><!-- Div para as caixas -->
    <form action="pesquisa"> <!-- Qual o método de pesquisa? -->
    <input type="text" name="historicoDeReservas" placeholder="Buscar por salas, equipamentos, veículos...">
    <button type="submit">pesquisar</button>
    </form>

    <select id="status" name="status">
        <option value="">status</option>
        <option value="">aprovado</option>
        <option value="">aprovação pendente </option>
        <option value="">recusado</option>
    </select>
    
</div>







