@use '../../../styles/variables' as vars;


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}


h1{
    text-align: center;
    font-weight: bold;
    font-size: 5.5rem;

}

h2{
    text-align: center;

    font-weight: 500;
    font-size: 2rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 50px;
}


.button{
    color: vars.$success-dark;
    border: 2px solid vars.$success-light;
    font-size: 1.2rem;
    font-weight: bold;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}


#button-cadastro{
    background-color: vars.$success-light;

}

#button-login{
    background-color: vars.$white;
}


#button-login:hover{
    background-color: vars.$success-light;
    color: vars.$success-dark;
}

p{  
    margin-top: 100px;
    text-align: center;
    font-size: 1.5rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
