<h1>Recursos disponíveis</h1>
<h2>Aqui você pode consultar os recursos internos disponíveis e solicitar o que precisar de forma prática e rápida.</h2>

<table class="table">
  <thead class="line">
    <tr>
      <th class="head">Recurso</th>
      <th class="head">Categoria</th>
      <th class="head">Status</th>
      <th class="head">Local</th>
      <th class="head actions"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let resource of internalResources">
      <td>{{ resource.name }}</td>
      <td>{{ resource.category }}</td>
      <td>
        <span class="status-badge" [ngClass]="getStatusClass(resource.status)">
          {{ getStatusLabel(resource.status) }}
        </span>
      </td>
      <td>{{ resource.location }}</td>
      <td>
        <button class="button-request" [ngClass]="{'btn-disabled': resource.status !== 'DISPONIVEL', 'btn-enabled': resource.status === 'DISPONIVEL'}"
                (click)="openDetails(resource.id)">
          Solicitar
        </button>
      </td>
    </tr>
  </tbody>
</table>
