<table class="table">
  <thead class="line">
    <tr>
      <th class="head">Recurso</th>
      <th class="head">Usuário</th>
      <th class="head">Data</th>
      <th class="head">Status</th>
      <th class="head actions"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>teste</td>
      <td>test</td>
      <td>teste</td>
      <td>teste</td>
      <td class="table-actions">
        <button class="btn">
          <mat-icon class="check">check_circle</mat-icon>
        </button>
        <button class="btn">
          <mat-icon class="cancel">cancel</mat-icon>
        </button>
      </td>
    </tr>

    <tr >
      <td>teste</td>
      <td>test</td>
      <td>teste</td>
      <td>teste</td>
      <td class="table-actions">
        <button class="btn">
          <mat-icon class="check">check_circle</mat-icon>
        </button>
        <button class="btn">
          <mat-icon class="cancel">cancel</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
