@use 'mdb-angular-ui-kit/assets/scss/mdb.scss' as mdb;
@use 'app/styles/variables' as vars;

body {
  background-color: vars.$background-color;
  color: vars.$text-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}




