@use '../../../../styles/variables' as vars;

article{
    background-color: vars.$white;
    border: 1px solid #{vars.$stroke};
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
}

.texto, .number{
    margin: 0;
    padding: 0;
}

.texto{
    font-size: 1.5rem;
}

.number{
    font-weight: bold;
    font-size: 3.5rem;
}