@use '../../../styles/variables' as vars;


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-text{
    text-align: center;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: bold;
}

p{
    font-size: 1.5rem;
}


.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    background-color: vars.$white;
    border-radius: 10px;
    border: 1px solid #{vars.$success-light};
    min-width: 570px;
    width: 40vw;
    padding: 50px;
    box-shadow:  2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.label-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-input input{
    border: 1px solid #{vars.$stroke};
    border-radius: 8px;
    padding: 1%;
}

.label-input label{
    font-size: 1.2rem;
}

#content-senha{
    align-self: flex-end;
}

#content-senha p{
    font-size: 1rem;
}

button{
    background-color: vars.$success-light;
    color: vars.$success-dark;
    border: 2px solid #{vars.$success-light};
    border-radius: 10px;
    width: 100%;
    padding: 8px 0;
    font-weight: bold;
    font-size: 1rem;
}

button:hover{
    background-color: vars.$white;
}

#cadastrar{
    align-self: flex-start;
    font-size: 1rem;
}

#cadastrar a{
    font-weight: bold;
}
