@use '../../../../styles/variables' as vars;


.container{
    background: vars.$white;
    border: 1px solid #{vars.$stroke};
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

h4, p{
    margin: 0;
    padding: 0;
}

h4{
    font-weight: 800;
}

p{
    font-size: 1rem;
    
}

#date{
    align-self: flex-end;
}