<div class="card">
  <h3>{{ request.justification }}</h3>

  <p>
    Solicitado por:
    <strong>
      {{ request.user?.name || request.user?.email || 'Usuário não informado' }}
    </strong>
  </p>

  <p>
    Recurso:
    <strong>
      {{ request.resource?.name || 'Recurso não informado' }}
    </strong>
  </p>

  <p>Período da Reserva:</p>

  <p>
    {{ request.startDate | date: 'dd/MM/yyyy' }}
    {{ request.startTime ? ('às ' + request.startTime) : '' }}
    -
    {{ request.endDate | date: 'dd/MM/yyyy' }}
    {{ request.endTime ? ('às ' + request.endTime) : '' }}
  </p>

  <div class="badge" [ngClass]="request.status?.toLowerCase()">
    {{ request.status || 'Status não informado' }}
  </div>

  <div class="actions">
    <button class="reject">
      Rejeitar
    </button>

    <button class="approve">
      Aprovar
    </button>
  </div>
</div>
