<div class="card">
  <h3>Laptop 3</h3>

  <p>
    Solicitado por:
    <strong>
      Jefferson Fernandes
    </strong>
  </p>

  <p>Período da Reserva:</p>

  <p>
    23 de Outubro, 2025, 9:00 AM - 10:00 AM 
  </p>

  <div class="actions">
    <button class="reject">
      Rejeitar
    </button>

    <button class="approve">
      Aprovar
    </button>
  </div>
</div>


<div class="card">
  <h3>Laptop 10</h3>

  <p>
    Solicitado por:
    <strong>
      Jefferson Fernandes
    </strong>
  </p>

  <p>Período da Reserva:</p>

  <p>
    23 de Outubro, 2025, 9:00 AM - 10:00 AM 
  </p>

  <div class="actions">
    <button class="reject">
      Rejeitar
    </button>

    <button class="approve">
      Aprovar
    </button>
  </div>
</div>
